section{ text-align: center; }

div.container{
    border: 1px solid white;
    background-color: white;
    width: 88%;
}
    div.banniere img {
        width: 145%;
        border: 1px solid black;
        box-shadow: 0px 0px 5px #000,
        0px 0px 30px #777;
        background-color: white;
        margin:20px 0 30px -70px;
    }
    button { margin-top: 10px; }

    /*****************CARROUSEL*****************/
    div.carrousel {
        width: 25em;
        height:15em;
        margin:10px 0 50px -5px;
    }
    .carousel-inner {
        width: 25em;
        height:15em;
        margin:10px 0 50px -5px;
    }
    .carousel-item {
        width: 25em;
        height:15em;
        margin:10px 0 50px -5px;
    }
    .carousel-item img {
        width: 25em;
        height:15em;
        margin:10px 0 50px -5px;
    }
    a.category-title {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    /*************A PROPOS DE NOUS**************/
    section.a-propos {
        margin: 50px 0 50px 0;
    }

    img.img-accueil {
        width: 15em;
        height: 10em;
        margin-left: 50px;
        margin-right: 10px;
    }

    /*************ARTICLE*************/
    div.article{
        font-size: 10px;
        box-shadow: 0px 0px 50px #DCDCDC,
        0px 0px 30px #FFFFF0;
    }
    img.img{
        width:6em;
        height:8em;
        margin-top: 10px;
        margin-bottom: -15px;
    }
    p.date{
        margin-top: -15px;
        margin-bottom: 0px;
    }
    p.content{ margin-bottom: -10px;}


    /*************CONTACT*************/
   .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        > height: 0;
    }
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 50%;
        width: 100%;
        position: absolute;
    }
    div.reseau {
        font-size: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

/************************************************ECRAN 768PX*******************************************/
@media screen and (min-width: 768px) {
    div.banniere img {
        width: 135%;
        margin-left: -95px;
    }
    /*****************CARROUSEL*****************/
    div.carrousel{
        width: 40em;
        height: 25em;
        margin:5px 0  50px -5px;
    }
    .carousel-inner{
        width: 40em;
        height: 25em;
        margin:5px 0  50px -5px;

    }
    .carousel-item {
        width: 40em;
        height: 25em;
        margin:5px 0  50px -5px;
    }
    .carousel-item  img{
        width: 40em;
        height: 25em;
        margin:5px 0  50px -5px;
    }

    a.category-title{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    /*************ARTICLE*************/
    section.articles{ font-size: 14px; }
    img.img{
        width:8em;
        height:10em;
    }
    p.content{ margin-bottom: 10px;}

    /*************A PROPOS DE NOUS**************/
    img.img-accueil {
        width: 20em;
        height: 15em;
        margin-left: 0px;
    }
}
/************************************************ECRAN 1024PX*******************************************/
@media screen and (min-width:1024px){

    div.banniere img {
        width: 130%;
        margin-left: -108px;
    }

    /*****************CARROUSEL*****************/
    div.carrousel {
        width: 35em;
        height: 25em;
        margin-left:15px;
    }
    .carousel-inner{
        width: 35em;
        height: 25em;
        margin-left:15px;

    }
    .carousel-item {
        width: 35em;
        height: 25em;
        margin-left:15px;
    }
    .carousel-item  img{
        width: 35em;
        height: 25em;
        margin-left:15px;
    }
    a.category-title{
    font-size: 25px;
    }

    /*************ARTICLE*************/
    div.article{ font-size: 16px;}
    img.img{ margin-bottom: 10px;}
}

/***********************************************ECRAN 1240PX******************************************/
@media screen and (min-width:1240px) {
    div.banniere img {
        margin-left: -135px;
    }
    div.carrousel {
        width: 40em;
        height: 25em;
        margin-left:30px;
    }
    .carousel-inner{
        width: 40em;
        height: 25em;
        margin-left:30px;

    }
    .carousel-item {
        width: 40em;
        height: 25em;
        margin-left:30px;
    }
    .carousel-item  img{
        width: 40em;
        height: 25em;
        margin-left:30px;
    }
}
/***********************************************ECRAN 1600PX******************************************/
@media screen and (min-width:1600px) {
    div.banniere img {
        width: 135%;
        margin-left: -160px;
    }

    /*****************CARROUSEL*****************/
    div.carrousel {
        width: 40em;
        height: 25em;
        margin-left:30px;
    }

    .carousel-inner {
        width: 40em;
        height: 25em;
        margin-left:30px;
    }

    .carousel-item {
        width: 40em;
        height: 25em;
        margin-left:30px;
    }

    .carousel-item img {
        width: 40em;
        height: 25em;
        margin-left:30px;
    }

    a.category-title{
        font-size: 30px;
    }
}