section{ text-align: center; }

div.container{
    border: 1px solid white;
    background-color: white;
    width: 88%;

    }
div.banniere img {
    width: 155%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px #000,
    0px 0px 30px #777;
    background-color: white;
    margin: 15px 0 20px -60px;
}

button{ margin-top: 10px;}

/*****************CARROUSEL*****************/
div.carrousel{ width: 25em; height: 15em; margin-bottom: 50px; margin-left: -5px;}
.carousel-inner{ width: 25em; height: 15em; margin-bottom: 50px; margin-left: -5px;}
.carousel-item { width: 25em; height: 15em; margin-bottom: 50px; margin-left: -5px;}
.carousel-item  img{ width: 25em; height: 15em; margin-bottom: 50px; margin-left: -5px;}

a.category-title{ text-decoration: none; color: black; font-size: 15px;}

/*************A PROPOS DE NOUS**************/
article.a-propos{ margin: 50px 0 50px 0; }

img.landscape{ width: 12em; height: 6em; margin-right: 5px; }

/*************CONTACT*************/
div.map{ border: 1px solid red; margin-left: -5px; margin-bottom: 50px;}


/************************************************ECRAN 660PX*******************************************/
@media screen and (min-width:660px){}




/************************************************ECRAN 768PX*******************************************/
@media screen and (min-width:768px){}




/***********************************************ECRAN 1025PX******************************************/
@media screen and (min-width:1025px){
div.carrousel{ margin: 60px 40px 60px 80px;}
}