section {
    text-align: center;
}

.facebook, .twitter, .linkedin {
    color: #E6804C;
}

div.container {
    border: 1px solid white;
    background-color: white;
    width: 88%;
    max-height: 100%;
}

div.banniere img {
    width: 145%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #000,
    0px 0px 30px #777;
    background-color: white;
    margin: 20px 0 30px -70px;
}

span.dark { color: #8B0000; }
span.orange { color: #FF8C00; }
span.red { color: #FF0000; }
button { margin-top: 10px;}

/*****************CARROUSEL*****************/
div.carrousel{
   width: 25em;
   height: 15em;
   margin:5px 0  50px -10px;

}
.carousel-inner{
    width: 25em;
    height: 15em;
    margin:5px 0  50px -10px;
}
.carousel-item {
    width: 25em;
    height: 15em;
    margin: 5px 0 50px -10px;
}
.carousel-item  img{
    width: 25em;
   height: 15em;
    margin:5px 0  50px -10px;
}

a.category-title{
   text-decoration: none;
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px 2px white,
                 0 0 3em white,
                 0 0 0.5em white;
}

#cat, #dog a {
    text-decoration: none;
    color: white;
}
/*************A PROPOS DE NOUS**************/
section.a-propos {
    margin: 50px 0 50px 0;
}

img.img-accueil {
    width: 15em;
    height: 12em;
    margin-left: 50px;
    margin-right: 10px;
}

/*************ARTICLE*************/
section.articles {
    font-size: 12px;
}
div.article {
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px #C0C0C0,
    0px 0px 30px #FDF5E6;
}

img.img {
    width: 10em;
    height:12em ;

}
p.date { margin-top: -10px; }

/*************CONTACT*************/
div.reseau {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.map {
    margin: auto;
}

/********TEMOIGNAGE/AVIS********/
/*.bouton {*/
/*    background-color: #686E73;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*}*/


/************************************************ECRAN 768PX*******************************************/
@media screen and (min-width: 768px) {
    div.banniere img {
        width: 135%;
        margin-left: -95px;
    }

    /*****************CARROUSEL*****************/
    /*div.carrousel{*/
    /*    width: 40em;*/
    /*    height: 25em;*/
    /*    margin:5px 0  50px -5px;*/
    /*}*/
    /*.carousel-inner{*/
    /*    width: 40em;*/
    /*    height: 25em;*/
    /*    margin:5px 0  50px -5px;*/
    /*}*/
    /*.carousel-item {*/
    /*    width: 40em;*/
    /*    height: 25em;*/
    /*    margin:5px 0  50px -5px;*/
    /*}*/
    /*.carousel-item  img{*/
    /*    width: 40em;*/
    /*    height: 25em;*/
    /*    margin:5px 0  50px -5px;*/
    /*}*/
    /*a.category-title{*/
    /*    text-decoration: none;*/
    /*    color: black;*/
    /*    font-size: 20px;*/
    /*}*/
    /*************ARTICLE*************/
    section.articles {
        font-size: 12px;
        margin-bottom: -15px;
    }

    p.date {
        margin-top: -20px;
        margin-bottom: -5px;
    }
}

/************************************************ECRAN 1024PX*******************************************/
@media screen and (min-width: 1024px) {

    div.banniere img {
        width: 130%;
        margin-left: -108px;
    }

    /*****************CARROUSEL*****************/
    /*    div.carrousel {*/
    /*        width: 35em;*/
    /*        height: 25em;*/
    /*        margin-left:15px;*/
    /*    }*/
    /*    .carousel-inner{*/
    /*        width: 35em;*/
    /*        height: 25em;*/
    /*        margin-left:15px;*/
    /*    }*/
    /*    .carousel-item {*/
    /*        width: 35em;*/
    /*        height: 25em;*/
    /*        margin-left:15px;*/
    /*    }*/
    /*    .carousel-item  img{*/
    /*        width: 35em;*/
    /*        height: 25em;*/
    /*        margin-left:15px;*/
    /*    }*/
    /*    a.category-title{*/
    /*    font-size: 25px;*/
    /*    }*/
    }
    /***********************************************ECRAN 1240PX******************************************/
    @media screen and (min-width: 1240px) {
        div.banniere img {
            margin-left: -135px;
        }

        /*div.carrousel {*/
        /*    width: 40em;*/
        /*    height: 25em;*/
        /*    margin-left:30px;*/
        /*}*/
        /*.carousel-inner{*/
        /*    width: 40em;*/
        /*    height: 25em;*/
        /*    margin-left:30px;*/
        /*}*/
        /*.carousel-item {*/
        /*    width: 40em;*/
        /*    height: 25em;*/
        /*    margin-left:30px;*/
        /*}*/
        /*.carousel-item  img{*/
        /*    width: 40em;*/
        /*    height: 25em;*/
        /*    margin-left:30px;*/
        /*}*/
    }
    /***********************************************ECRAN 1600PX******************************************/
    @media screen and (min-width: 1600px) {
        div.banniere img {
            width: 135%;
            margin-left: -160px;
        }
    }

/*****************CARROUSEL*****************/
/*    div.carrousel {*/
/*        width: 40em;*/
/*        height: 25em;*/
/*        margin-left:10px;*/
/*    }*/

/*    .carousel-inner {*/
/*        width: 40em;*/
/*        height: 25em;*/
/*        margin-left:10px;*/
/*    }*/

/*    .carousel-item {*/
/*        width: 40em;*/
/*        height: 25em;*/
/*        margin-left:10px;*/
/*    }*/

/*    .carousel-item img {*/
/*        width: 40em;*/
/*        height: 25em;*/
/*        margin-left:10px;*/
/*    }*/

/*    a.category-title{*/
/*        font-size: 30px;*/
/*    }*/
/*}*/