div.container {
    border: 1px solid white;
    background-color: white;
    width: 88%;
    max-height: 100%;
}

.btn-send{
    background-color: #F5871F;
    border-radius: 5px;
    border: 1px solid #F5871F;
    color: white;
}

div.banniere img {
    width: 145%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #000,
    0px 0px 30px #777;
    background-color: white;
    margin: 20px 0 30px -70px;
}

span.dark { color: #8B0000; }
span.orange { color: #FF8C00; }
span.red { color: #FF0000; }
button { margin-top: 10px;}

.depo-avis{
    margin-top: 30px ;
}

.hide { display: none;
}
.users-avis{
    margin-bottom: 70px;
}
#bouton{
    margin: 30px;
}
/************************************************ECRAN 768PX*******************************************/
@media screen and (min-width: 768px) {
    div.banniere img {
        width: 135%;
        margin-left: -95px;
    }
}
/************************************************ECRAN 1024PX*******************************************/
@media screen and (min-width: 1024px) {

    div.banniere img {
        width: 130%;
        margin-left: -108px;
    }

    .depo-avis{
        margin-left: 100px;
    }
}
/***********************************************ECRAN 1240PX******************************************/
@media screen and (min-width: 1240px) {
    div.banniere img {
        margin-left: -135px;
    }

    .depo-avis{
        margin-left: 130px;
    }
}
/***********************************************ECRAN 1600PX******************************************/
@media screen and (min-width: 1600px) {
    div.banniere img {
        width: 135%;
        margin-left: -160px;
    }
}