div.container {
    border: 1px solid white;
    background-color: white;
    width: 88%;
    max-height: 100%;
}

<<<<<<< HEAD
div.banniere img {
    width: 155%;
    background-color: white;
    box-shadow: 1px 2px 11px -1px rgba(0, 0, 0, 1);
    margin: 5px 0 30px -58px;
=======
.btn-send{
    background-color: #F5871F;
    border-radius: 5px;
    border: 1px solid #F5871F;
    color: white;
}

div.banniere img {
    width: 145%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #000,
    0px 0px 30px #777;
    background-color: white;
    margin: 20px 0 30px -70px;
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
}

span.dark { color: #8B0000; }
span.orange { color: #FF8C00; }
span.red { color: #FF0000; }
button { margin-top: 10px;}

.depo-avis{
    margin-top: 30px ;
}

.hide { display: none;
}
.users-avis{
    margin-bottom: 70px;
}
#bouton{
    margin: 30px;
}
<<<<<<< HEAD


@media screen and (min-width: 480px) {
    div.banniere img {
        width: 145%;
        margin-left: -70px;
    }
}

@media screen and (min-width: 600px) {
    div.banniere img {
        width: 140%;
        margin-left: -80px;
    }
}

@media screen and (min-width: 660px) {
    div.banniere img {
        width: 145%;
        margin-left: -95px;
    }
}

=======
/************************************************ECRAN 768PX*******************************************/
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
@media screen and (min-width: 768px) {
    div.banniere img {
        width: 135%;
        margin-left: -95px;
    }
}
<<<<<<< HEAD

=======
/************************************************ECRAN 1024PX*******************************************/
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
@media screen and (min-width: 1024px) {

    div.banniere img {
        width: 130%;
        margin-left: -108px;
    }

    .depo-avis{
        margin-left: 100px;
    }
<<<<<<< HEAD


=======
}
/***********************************************ECRAN 1240PX******************************************/
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
@media screen and (min-width: 1240px) {
    div.banniere img {
        margin-left: -135px;
    }

    .depo-avis{
        margin-left: 130px;
    }
}
<<<<<<< HEAD

=======
/***********************************************ECRAN 1600PX******************************************/
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
@media screen and (min-width: 1600px) {
    div.banniere img {
        width: 135%;
        margin-left: -160px;
    }
<<<<<<< HEAD
}




























=======
}
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
