section{
    height: 100vh;  
}
.login{
    margin-top: 100px;
}

div.container{
    border: 1px solid white;
    background-color: white;
    width: 90%;
}

h1{ text-align: center;}

form{
    width: 80%;
    margin: 80px auto 0 auto;
}


/************************************************ECRAN 768PX*******************************************/
@media screen and (min-width: 768px) {
    form{
        width: 60%;
        margin-left: auto;
        margin-right: auto;  
    }
 
}

/*****************ECRAN 1024PX*******************/
@media screen and (min-width: 1024px) {
    .login{
        margin-top: 200px;
    }

    form{
        width: 50%;
    }
}

/****************ECRAN 1240PX*****************/
@media screen and (min-width: 1240px) {

}

/************************************************ECRAN 1600PX*******************************************/
@media screen and (min-width: 1600px) {

}