
div.container{
     font-size: 15px;
     padding: 0 10px 70px 10px;
 }
#bouton{ margin-bottom: 30px;}

table { margin-top: 50px; }

.hide {
    display: none;
}

body{
    color: white;
}

.bouton{
    background-color: #F5871F;
    color: white;
    border: 1px solid #F5871F;
    border-radius: 5px;
    height: 40px;
    margin: 10px;
}