
div.container{
     background-color: white;
     font-size: 15px;
     padding: 0 10px 70px 10px;
 }
#bouton{ margin-bottom: 30px;}

table{ margin-top: 50px}

a#btn{ margin: 10px;}

.hide {
    display: none;
}