<<<<<<< HEAD
section{
    height: 100vh;
=======
body{
    color: white;
}

div.container{
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
    font-size: 15px;
    padding: 10px 50px;
    background-color: white;
}

tr, th, td { 
    border: 0.5px solid lightgray; 
    padding: 0 10px; 
 }

table {
    margin: 50px auto;
}
a#btn{ margin: 10px;}












