body{ background-color: #222222;
    color: black;
    font-size: 14px;
    font-family: 'Playfair Display', serif;}

h1{ font-size: 30px;}
h2{ font-size: 22px;}
h3{ font-size: 22px;}

.nav{ width:100%;  }
.navbar{ width:100%;}

@media screen and (min-width:1024px) {
    body{ font-size: 18px;}
    h1{ font-size: 36px;}
    h2{ font-size: 26px;}
    h3{ font-size: 26px;}
}

.logo{
    width: auto;
    height: 50px;
}