section {
    text-align: center;
}

div.container {
    border: 1px solid white;
    background-color: white;
    width: 90%;
    max-height: 100%;
    margin-left: auto;
    margin-right:auto;
}

.top-banner img {
    display: block;
    width: 150%;
    background-color: white;
    box-shadow: 1px 2px 11px -1px rgba(0, 0, 0, 1);
    margin: 5px 0 30px -58px;
}

span.dark { color: #8B0000; }
span.orange { color: #FF8C00; }
span.red { color: #FF0000; }
button { margin-top: 10px;}

/*****************CARROUSEL*****************/
div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {
   width: 20em;
   height: 12em;
   margin:5px 0 50px -13px;
}

a.category-title{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-shadow: 1px 1px 2px white,
                 0 0 3em white,
                 0 0 0.5em white; 
}

.carousel-caption{
    transition-duration: 0.5s;
}

.carousel-caption:hover{
    text-decoration: underline;
    transform:scale(1.3);
}

#cat, #dog a {
    text-decoration: none;
    color: white;
}
/*************A PROPOS DE NOUS**************/
section.a-propos {
    margin: 50px auto;
}

img.img-accueil {
    display: block;
    width: 15em;
    height: 12em;
    margin: 0 auto 10px auto;
    float: none;
}

.facebook, .twitter, .linkedin {
    color: #E6804C;
    font-size: 30px;
    margin: 10px 10px 40px 10px;
}

.reseau{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************ARTICLE*************/
section.articles {
    font-size: 12px;
}
div.article {
    margin: 30px auto 50px auto;
    box-shadow: 0px 0px 15px #C0C0C0,
    0px 0px 30px #FDF5E6;
}

.article-img {
    width: 10em;
    height:13em ;
    margin-top: 30px;
}
p.date { margin-top: -10px; }

/****CONTACT****/

.infos a{
     text-decoration: none;
     color: black;
 }
.infos a:hover{
    text-decoration: underline;
    color: blue;
}

iframe {
    margin: auto;
    width: 90%;
    height: 100%;
}

/*****AVIS****/
section.comments{
    text-align: center;
    margin: 40px 0 30px 0;
}

/**********************************************************
************************ECRAN 480PX************************
**********************************************************/
@media screen and (min-width: 480px){
    .top-banner img {
        width: 140%;
        margin-left: -65px;
    }

    div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {
        width: 22em;
        height: 14em;
        margin:5px 0 50px -2px; 
     }
    
}

/**********************************************************
************************ECRAN 600PX************************
**********************************************************/
@media screen and (min-width: 600px){
    .top-banner img {
        width: 135%;
        margin-left: -75px;
    }

    div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {
        width: 26em;
        height: 16em;
        margin:5px 0 50px 3px; 
     }

     img.img-accueil {
        width: 18em;
        height: 14em;
        margin-left: 0px;
        margin-right: 10px;
        float: left;
    }

    .article-img {
        width: 10em;
        height:13em ;
        margin: 15px 20px 0 10px;
    }

    .card-body{
        margin-left: 30px;
    }
}

/**********************************************************
************************ECRAN 660PX************************
**********************************************************/
@media screen and (min-width: 660px){
    
}


/**********************************************************
************************ECRAN 768PX************************
**********************************************************/
@media screen and (min-width: 768px) {
    .top-banner img {
        width: 130%;
        margin-left: -85px;
    }
    div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {
        width: 35em;
        height: 20em;
        margin:5px 0 50px 10px; 
     }

     a.category-title{
         font-size: 20px;
     }

    section.a-propos {
        text-align: left;
        margin: 50px auto;
    }

    img.img-accueil {
        width: 19em;
        height: 15em;
        margin-right: 20px;
        float: left;
    }

    .article-img {
        width: 10em;
        height:13em ;
        margin: 10px;
    }

    .card-body{
        text-align: left;
        margin: 0;
        font-size: 14px;
    }

    section.comments{
        text-align: left;
        margin-top: 50px;
    }

}

/**********************************************************
************************ECRAN 1024PX***********************
**********************************************************/
@media screen and (min-width: 1024px) {

    .top-banner img {
        width: 127%;
        margin-left: -105px;
    }

    div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {

        margin-left:auto;
        margin-right: auto; 
     }

    a.category-title{
        font-size: 22px;
    }

    .card-body {font-size: 16px; }

    .article-img{
        width: 12em;
        height:15em ;
    
    }

    .facebook, .twitter, .linkedin {
        font-size: 40px;
    }

    }
/**********************************************************
************************ECRAN 1240PX************************
**********************************************************/
@media screen and (min-width: 1240px) {
        .top-banner img {
            width: 124%;
            margin-left: -110px;
        }

        div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {
            width: 38em;
            height: 20em;
            margin-left:auto;
            margin-right: auto; 
         }

    }

    /**********************************************************
    ************************ECRAN 1600PX************************
    **********************************************************/
    @media screen and (min-width: 1600px) {
        div.container{
            width: 100%;
        }

        .top-banner img {
            width: 135%;
            margin-left: -160px;
        }
    
        div.carrousel,.carousel-inner, .carousel-item, .carousel-item  img {
            width: 42em;
            height: 22em;
            margin-left:30px; 
        }

        a.category-title{
            font-size: 30px;
        }
}