section{
    background-color: white;
    color: black;
    padding: 10px 50px;
}

#bouton{
    background-color: #F5871F;
    color: white;
    border: 1px solid #F5871F;
    border-radius: 5px;
    height: 40px;
    margin: 10px;
}

.thead-orange {
    background-color: #E6804C;
}

.animal-table img {
    width: 50%;
}


.hide {
    display: none;
}

.table {
    padding-top: 100px;
}

.btn {
    margin-bottom: 10px;
}

th {
    color: #F2E8E8;
}

/*form button {*/
/*    background-color: white;*/
/*    color: white;*/
/*}*/

form {
    margin-top: 10px;
}



