
section{
    height: 100vh;
    background-color: white;
    color: black;
    padding: 10px 50px;
}

#bouton{ margin-bottom: 30px;}

tr, th, td { 
   border: 0.5px solid lightgray;  
}

.th-id, .th-date, .th-titre, .th-image, .td-id, .td-date, .td-titre {
    padding:0 10px;
    font-size: 12px;
}
 .th-content,  .td-content{
   padding: 5px 40px;
   font-size: 12px;
   
}

.td-image{
    font-size: 10px;
    padding:0 10px;
}   

a#btn {
     margin: 10px;
}

.hide { 
    display: none;
}

.bouton{
    background-color: #F5871F;
    color: white;
    border: 1px solid #F5871F;
    border-radius: 5px;
    height: 40px;
    margin: 10px;
}