section{
    padding: 10px 50px;
    background-color: white;
}




.thead-orange {
    background-color: #E6804C;
}

.btn {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.table {
    margin-top: 20px;
}

#bouton{
    background-color: #F5871F;
    color: white;
    border: 1px solid #F5871F;
    border-radius: 5px;
    height: 40px;
    margin: 10px;
}

.category-table img {
    width: 30%;
}