div.container{
    border: 1px solid white;
    background-color: white;
    width: 88%;
}

.img-thumbnail {
    width: 100%;
    border-radius: 100%;
    padding-bottom: 100%;
    background-size: cover;
}

.row-image {
    margin: 20px 0;
}

.list-group{
    margin-bottom: 50px;
}

.profile{
    background-color: #D36A1D;
    color: white;
}

button {
    margin-top: 10px;
    background-color: #d36a1d;
    color: white;
    border-radius: 5px;

}
