div.container{
    border: 1px solid white;
    background-color: white;
    width: 88%;
    min-height:100%;
    
}

.hide { display: none;
}

button{
    padding: 0 35px;
    color:black;
}

.form-group{
    margin-left: auto;
    margin-right: auto;
}

div.profil{
    margin:50px auto 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.animal{
    width: 6em;
    height: 6em;
    margin: 10px 2px;
    position: relative;
    overflow: hidden;
    transition: transform 100ms;
}

.animal a {
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 100%;
}

.animal-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: black;
    opacity: 0.4;
    padding: 10px 15px;
    margin-bottom: 0;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    transition: opacity 100ms;
}

.animal:hover{
    transform: scale(1.1);
}

.animal:hover .animal-name {
    opacity: 0.9;
}

.bouton{
    background-color: orangered;
    color: white;
}


@media screen and (min-width: 480px){

}

@media screen and (min-width: 660px){

}

@media screen and (min-width: 768px){

     .animal{
       width: 8em;
       height: 8em;
    }
}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1240px){
 
}

