{% extends 'base.html.twig' %}

{% block titre %} Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <br>
    <h2>Venez les adopter !</h2>
    <br>
    <p>
        Bienvenue sur la page Web de notre Association !<br>
        Nous recueillon des animaux et nous les soignons afin de leur trouver une nouvelle famille.
    </p>
    <br>

    {# placer ici le caroussel #}


{% endblock %}
