<div class="list-group list-group-flush">
    {% for article in articles %}
        <a class="list-group-item"

           href="{{ path('comments_create', {'id': comments.user}) }}">
            {{ comments.content }}
        </a>
    {% else %}
        <p>Aucun Avis.</p>
    {% endfor %}
</div>