{% extends 'base.html.twig' %}


{% block body %}
<table class="table table-striped">
    <tr class="table-dark">
        <th>Id</th>
        <th>Contenur</th>
        <th>Date pub.</th>
        <th>Image</th>
        <th width="300px"></th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.content }}</td>
        <td>{{ article.publicationDate|date('d/m/Y H:i') }}</td>
        <td>{{ article.image}}</td>
        <td>
            <a href=""
               class="btn btn-primary">
                Modifier
            </a>
            <a href=""
               class="btn btn-danger">
                Supprimer
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}