{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/connexion.css') }}">
{% endblock %}
{% block body %}

    <h1>Connexion</h1>
        <form action="{{ path('user_login') }}" method="POST">
            <div class="form-group">
                <input placeholder="Votre email"  required name="_username"  type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe"  required name="_password"  type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Connexion</button>
            </div>
        </form>

{% endblock %}

